/* Navigation menu */
.wrapper {
    margin-left: auto;
    justify-content: right !important;
}

li {
    display: inline;
    float: left;
  }

  a {
    display: block;
    padding: 30px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: orange;
  }

  .active {
    background-color: #04AA6D;
  }

  ul {
    background-color: darkblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }